@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.relative-container {
  position: relative;
  border-radius: 1rem; /* Adjust to match your rounded corners */
  overflow: hidden; /* Ensures the gradient border respects the rounded corners */
}

.relative-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit; /* Inherit the border-radius from the container */
  background: linear-gradient(45deg, #ff006e, #ffde00);
  z-index: -1; /* Place the gradient behind the content */
  padding: 10px; /* Adjust to match the border thickness */
}

.content {
  border-radius: inherit; /* Ensure the inner content respects the border-radius */
}


